<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>User Verification</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body style="font-family: Arial, sans-serif; background-color: #f0f0f0;">
	<div class="container text-center" style="text-align: center; margin: 20% auto; max-width: 600px; background-color: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-radius: 5px;">
		<h3 style="font-size: 28px; color: #333;">Sorry, we could not verify account. It maybe already verified, or verification code is incorrect.</h3>
	</div>
</body>
</html>